.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.todo-box {
    background-color: cadetblue;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.doing-box {
    background-color: orange;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.done-box {
    background-color: yellowgreen;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}